@font-face {
  font-family: "pixelart";
  src: url("./fonts/PressStart2P.ttf");
}

body {
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 85vw;
  height: 75vh;
  border-radius: 4vh;
  border: 3px solid mediumorchid;
}

img.logo {
  position: absolute;
  top: -4vh;
  right: 8vw;
  width: 20vw;
}

div.container {
  position: relative;
}

div#mainScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div.main-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
}

div.end-modal-buttons {
  display: flex;
  justify-content: center;
  gap: 3vh;
}

button {
  font-size: 1.8vh;
  font-weight: 600;
  color: black;
  padding: 1.8vh 2vh;
  border-radius: 1vh;
  border: none;
  cursor: pointer;
  background: #fff;
  font-family: 'pixelart';
}
button:hover {
  opacity: 0.8;
}

button#soundOn,
button#soundOff {
  cursor: pointer;
  position: absolute;
  left: 48vw;
  top: 3.3vh;
  padding: 0.75vh;
}

.uk-modal-close-default svg {
  width: 1.8vh;
  height: 1.8vh;
  color: #fff;
}
.uk-modal-dialog {
  padding: 5vh;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  font-family: 'pixelart';
  font-size: 1.3vh;
  width: 30vw;
  background: #000;
  border: 3px solid mediumorchid;

}
.uk-modal-dialog img {
  filter: invert(100%);
}
.uk-modal-dialog ol {
  text-align: left;
}
.uk-modal-dialog .end-modal-text {
  font-size: 3vh;
}

.hidden {
  display: none !important;
}
